.bdss {
    border-style: solid;
}

.bdc {
    @include border-color-modifiers();
}

@for $space from 0 through 20 {
    .bdw#{$space} {
        border-width: #{$space}px;
    }
    .bdtw#{$space} {
        border-top-width: #{$space}px;
    }
    .bdbw#{$space} {
        border-bottom-width: #{$space}px;
    }
    .bdrw#{$space} {
        border-right-width: #{$space}px;
    }
    .bdlw#{$space} {
        border-left-width: #{$space}px;
    }
}