@for $space from 0 through -100 {
    .mt#{$space} {
        margin-top: #{$space}px;
    }
    .mb#{$space} {
        margin-bottom: #{$space}px;
    }
    .ml#{$space} {
        margin-left: #{$space}px;
    }
    .mr#{$space} {
        margin-right: #{$space}px;
    }
}

@for $space from 1 through 80 {
    .m#{$space} {
      margin: #{$space}px;
    }
    .mt#{$space} {
        margin-top: #{$space}px;
    }
    .mb#{$space} {
        margin-bottom: #{$space}px;
    }
    .ml#{$space} {
        margin-left: #{$space}px;
    }
    .mr#{$space} {
        margin-right: #{$space}px;
    }
}

@for $space from 1 through 100 {
    .mt#{$space}p {
        margin-top: percentage($space/100);
    }
    .mb#{$space}p {
        margin-bottom: percentage($space/100);
    }
    .ml#{$space}p {
        margin-left: percentage($space/100);
    }
    .mr#{$space}p {
        margin-right: percentage($space/100);
    }
}