@for $space from 1 through 400 {
    .h#{$space} {
      height: #{$space}px;
    }
    .w#{$space} {
        width: #{$space}px;
    }
}

@for $space from 1 through 100 {
    .h#{$space}p {
      height: percentage($space/100);
    }
    .w#{$space}p {
        width: percentage($space/100);
    }
}